{% extends "./Template/layout/main.twig" %}
{% set hightlights = hightlights %}

{% block title %}Home{% endblock %}

{% block body %}

    {% for article in articles %}
        <div style="background-image: url({{ article.cover }})" class="container-fluid cover previewArticle d-flex align-items-end">
            <div class="container">
                <div>
                    <h3 class="subtitle">{{ article.subtitle }}</h3>
                    <h1 class="title">{{ article.title }}</h1>
                    <a href="/articles/{{ article.slug }}" class="btn btn-outline-white">Read more</a>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}