body {
  font-family: "Lato", sans-serif;
}

.b {
  border: 1px red solid;
}

.previewArticle {
  height: 100vh;
  padding: 200px 0;
}

.cover {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.btn-outline-white {
  text-transform: uppercase;
  font-size: 14px;
  border: 3px white solid;
  color: white;
  font-weight: 700;
  padding: 10px 50px;
  margin-top: 30px;
  border-radius: 0;
}

.title {
  font-weight: 700;
  color: white;
  font-size: 48px;
  max-width: 50%;
}

.subtitle {
  font-weight: 400;
  color: white;
  font-size: 20px;
  max-width: 50%;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.main-logo {
  height: 25px;
}

.nav-link {
  color: white !important;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  padding-bottom: 0;
}
