body {
  font-family: "Lato", sans-serif;
  background-color: black;
  font-weight: 400;
}

.b {
  border: 1px red solid;
}

.pt-200 {
  padding-top: 100px;
}

.previewArticle {
  height: 100vh;
  padding: 200px 0;
}

.cover {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.coverImg {
  height: 500px;
  width: 100%;
  object-fit: cover;
  margin: 50px 0;
}

date {
  color: #8b939b;
  text-transform: uppercase;
  font-size: 18px;
}

.btn-outline-white {
  text-transform: uppercase;
  font-size: 14px;
  border: 3px white solid;
  color: white;
  font-weight: 700;
  padding: 10px 50px;
  margin-top: 30px;
  border-radius: 0;
}

.title {
  font-weight: 700;
  color: white;
  font-size: 48px;
  max-width: 50%;
}

.subtitle {
  font-weight: 400;
  color: white;
  font-size: 20px;
  max-width: 50%;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.main-logo {
  height: 25px;
}

.nav-link {
  color: white !important;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  padding-bottom: 0;
}

.links {
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  text-decoration: none;
}

.article-title {
  font-size: 40px;
  color: white;
  margin: 20px 0;
}

.content {
  font-size: 17px;
  color: white;
}
